html {
    background-color: black;
    text-align: center;
    font-family: Verdana;
}

.header h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;
}

.desc h1,
.footer h1 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.desc p {
    font-size: 21px;
    color: gray;
}

.copyright {
    text-align: right;
    color: gray;
    font-size: 21px;
}